<div class="container mt-5 text-center">
  <h1>Welcome to No_Airbnb</h1>
    <p>"Space travel is life-enhancing, and anything that's life-enhancing
      is worth doing. It makes you want to live forever."</p>
  <div class="banner size" style="background-image: url(https://pbs.twimg.com/media/EEI2y0eXoAIJEoK?format=jpg&name=900x900);">
    <div class="container">

      <div class="homepage-container" style="padding-top:220px;">

      <div class="homepage-container-inner" style="marign-top:220px; padding-top:5px; background-color: rgba(12,12,12,0.3);">
          <h3>BOOK YOUR LAUNCH HERE</h3>
        <p>Use our interactive tool to search dozens of launches<br> and reserve the one that's right for you.</p>

      </div>
        <div class="homepage-container-inner2" style="background-color: rgba(12,12,12,0.3);">
             </div> <a class="btn btn-primary" href="/spaceflights">View all launches</a>
          </div>
    </div>
  </div>
</div>
