<div class="container mt-5 text-center">
  <h1>Welcome to No_Airbnb</h1>
    <p>"Space travel is life-enhancing, and anything that's life-enhancing
      is worth doing. It makes you want to live forever."</p>
  <div class="banner size" style="background-image: url(https://pbs.twimg.com/media/EEI2y0eXoAIJEoK?format=jpg&name=900x900);">
    <div class="container">
      <h2>BOOK YOUR LAUNCH HERE</h2>
      <p>Use our interactive tool to search dozens of launches and reserve the one that's right for you.</p>
      <a class="btn btn-flat" href="/spaceflights">View all launches</a>
    </div>
  </div>
</div>
