<div class="container mt-5">
  <h1>Welcome to No_Airbnb</h1>
    <ul>
      <% @spaceflights.each do |spaceflight| %>
        <li><%= link_to spaceflight.name, spaceflight_path(spaceflight) %></li>
      <% end %>
    </ul>
</div>
